<main>
  <div *ngIf="!(afAuth.authState | async)">
    <h1>Login</h1>

    <button mat-raised-button appGoogleSignin>
      <img src="/assets/google-logo.svg" /> Login with Google
    </button>

    <button mat-raised-button appGuestSignin class="login--guest-btn">
      <mat-icon>person</mat-icon> Login as Guest
    </button>

    <h5>OR</h5>

    <app-email-login></app-email-login>
  </div>

  <div *ngIf="afAuth.authState | async as user">
    <p *ngIf="!user.isAnonymous">
      Logged in as <strong>{{ user.email }}</strong>
    </p>

    <p *ngIf="user.isAnonymous">Logged in as a Guest</p>

    <button
      class="btn--board"
      routerLink="/kanban"
      mat-raised-button
      color="accent"
    >
      <mat-icon>dashboard</mat-icon> Go to Board
    </button>

    <br />

    <button mat-stroked-button (click)="afAuth.auth.signOut()">Logout</button>
  </div>
</main>
